<div class="card m-3">

    <div class="card-body m-2">
        <div class="card-text text-center">{{content}}</div>
    </div>
    <div class="card-footer d-flex justify-content-end">
        commentor: {{user.username}}
    </div>
</div>