<div class="card m-3 border-dark">

    <div class="card-header bg-info">
        <h5 class="text-center">{{post_title}}</h5>
    </div>
    <div class="card-footer d-flex justify-content-between">
        <a href="/editpost/{{id}}" class="text-center border border-round-dark"><button type="button" class="btn btn-secondary">Edit Post</button></a>
        <form class="delete-form">
            <input  type="hidden" class="delete-post" value="{{id}}">
            <a><button type="submit" class="btn btn-danger"> Delete Post</button></a>
        </form>
    </div>

</div>