<div class="row d-flex justify-content-center mt-5">
        <div class="col-lg-6 col-mb-12">
            <div class="card bg-info">
                <div class="card-body d-flex justify-content-center">
                        <a href="/massachusetts"><button type="button" class="btn btn-secondary"><h5 class="card-title text-center mb-3">Massachusetts</h5></button></a>
                </div>
                <div class="card-body d-flex justify-content-center">
                        <a href="/newhampshire"><button type="button" class="btn btn-secondary"><h5 class="card-title text-center mb-3">New Hampshire</h5></button></a>
                </div>
                <div class="card-body d-flex justify-content-center">
                        <a href="/vermont"><button type="button" class="btn btn-secondary"><h5 class="card-title text-center mb-3">Vermont</h5></button></a>
                </div>
            </div>
        </div>
</div>