<div class="row d-flex justify-content-center mt-5">
        <div class="col-lg-6 col-mb-12">
            <div class="card mt-4 border border-dark">
                <div class="card-header bg-success text-center">
                        <a href="/massachusetts"><button type="button" class="btn btn-light text-success"><h5 class="card-title text-center mb-3">Massachusetts</h5></button></a>
                </div>
                <div class="card-body d-flex justify-content-center">
                        <div class="card-text text-start"><h5>By the sword we seek peace, but peace only under liberty</h5></div>
                </div>
            </div>
            <div class="card mt-4 border border-dark">
                <div class="card-header bg-success text-center">
                        <a href="/newhampshire"><button type="button" class="btn btn-light text-success"><h5 class="card-title text-center mb-3">New Hampshire</h5></button></a>
                </div>
                <div class="card-body d-flex justify-content-center">
                        <div class="card-text text-start"><h5>Live Free or Die</h5></div>
                </div>
            </div>
            <div class="card mt-4 border border-dark">
                <div class="card-header bg-success text-center">
                        <a href="/vermont"><button type="button" class="btn btn-light text-success"><h5 class="card-title text-center mb-3">Vermont</h5></button></a>
                </div>
                <div class="card-body d-flex justify-content-center">
                        <div class="card-text text-start"><h5>Freedom and Unity</h5></div>
                </div>
            </div>
        </div>
</div>