<div class="row d-flex justify-content-center m-3">
        <div class="col-lg-6 col-mb-12 m-3">
            <div class="card bg-info">
                <div class="card-body d-flex justify-content-center">
                        <a href="/matransport"><button type="button" class="btn btn-secondary"><h5 class="card-title text-center mb-3">Transport</h5></button></a>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-mb-12 m-3">
            <div class="card bg-info">
                <div class="card-body d-flex justify-content-center">
                        <a href="/malegal"><button type="button" class="btn btn-secondary"><h5 class="card-title text-center mb-3">Legal</h5></button></a>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-mb-12 m-3">
            <div class="card bg-info">
                <div class="card-body d-flex justify-content-center">
                        <a href="/mafood"><button type="button" class="btn btn-secondary"><h5 class="card-title text-center mb-3">Food</h5></button></a>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-mb-12 m-3">
            <div class="card bg-info">
                <div class="card-body d-flex justify-content-center">
                        <a href="/mahealth"><button type="button" class="btn btn-secondary"><h5 class="card-title text-center mb-3">Healthcare</h5></button></a>
                </div>
            </div>
        </div>
</div>