<div class="row d-flex justify-content-center m-3">
        <div class="col-lg-6 col-mb-12 m-3">
            <div class="card mt-2 border border-dark">
                <div class="card-header bg-success text-center">
                        <a href="/nhtransport"><button type="button" class="btn btn-light text-success"><h5 class="card-title text-center mb-3">Transport</h5></button></a>
                </div>
                <div class="card-body d-flex justify-content-center">
                        <div class="card-text text-start"><h5>A forum for finding easy and affordable transportation</h5></div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-mb-12 m-3">
            <div class="card mt-2 border border-dark">
                <div class="card-header bg-success text-center">
                        <a href="/nhlegal"><button type="button" class="btn btn-light text-success"><h5 class="card-title text-center mb-3">Legal</h5></button></a>
                </div>
                <div class="card-body d-flex justify-content-center">
                        <div class="card-text text-start"><h5>A forum for shareing legal help and concerns</h5></div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-mb-12 m-3">
            <div class="card mt-2 border border-dark">
                <div class="card-header bg-success text-center">
                        <a href="/nhfood"><button type="button" class="btn btn-light text-success"><h5 class="card-title text-center mb-3">Food</h5></button></a>
                </div>
                <div class="card-body d-flex justify-content-center">
                        <div class="card-text text-start"><h5>A forum for finding affordable and healthy food options</h5></div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-mb-12 m-3">
            <div class="card mt-2 border border-dark">
                <div class="card-header bg-success text-center">
                        <a href="/nhhealth"><button type="button" class="btn btn-light text-success"><h5 class="card-title text-center mb-3">Healthcare</h5></button></a>
                </div>
                <div class="card-body d-flex justify-content-center">
                        <div class="card-text text-start"><h5>A forum for how healthcare is found and ran in this state</h5></div>
                </div>
            </div>
        </div>

</div>