<div class="row d-flex justify-content-center mt-5">
        <div class="col-lg-6 col-mb-12">
        <div class="card bg-info">
            <div class="card-body">
                <h5 class="card-title text-center mb-3">New Post</h5>
                <form class="form new-post"  id="new-post">
                    <div class="form-group">
                        <label for="new-post-title">Post Title</label>
                        <input type="text" class="form-control" id="new-post-title" placeholder="Post Title">
                    </div>
                    <div class="form-group mt-2">
                        <label for="new-post-content">Post Content</label>
                        <textarea class="form-control" id="new-post-content" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="./js/newPost.js"></script>